body {
  margin: 0;
  padding: 0;
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: green;
}

/* Header dan Navbar */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  background-color: white;
  align-items: center;
  height: 60px;
  position: fixed;
  width: 100%;
}

header .logo img {
  width: 60px;
  cursor: pointer;
}

header nav ul {
  /* FLEXBOX */
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav ul li {
  list-style: none;
  margin-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: inherit;
}

header nav ul li input {
  background-color: transparent;
  /* border: none; */
  border: 1px solid grey;
  width: 150px;
  height: 30px;
  /* color: white; */
  border-radius: 360px;
  text-align: left;
  cursor: text;
  padding-left: 10px;
}

header .login button.signup {
  color: white;
  border-radius: 360px;
  border: none;
  background-color: green;
  width: 100px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

header .login button.login {
  color: white;
  border-radius: 360px;
  border: none;
  background-color: rgb(190, 244, 209);
  width: 100px;
  height: 30px;
  margin-right: 10px;
  color: black;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

header .login button.login:hover {
  background-color: green;
  color: white;
  transition: ease-in-out 0.3s;
}

header nav ul li:not(:last-child):hover {
  display: flex;
  background-color: green;
  height: 80px;
  align-items: center;
  color: white;
  transition: ease-in-out 0.2s;
}

header nav ul li a {
  margin: 10px;
}
