body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
  color: black;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

header .Logo img {
  left: -140%;
  width: 60px;
  position: relative;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 7px;
}

header nav ul li {
  list-style: none;
  margin-left: 7px;
}

header nav ul li input {
  background-color: transparent;
  /* border: none; */
  border: 1px solid grey;
  width: 150px;
  height: 30px;
  /* color: white; */
  border-radius: 360px;
  text-align: left;
  cursor: text;
  padding-left: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: inherit;
  padding-inline: 10px;
}

header nav ul li a:hover {
  display: flex;
  background-color: #04aa6d;
  height: 60px;
  align-items: center;
  color: white;
  transition: ease-in-out 0.1s;
  padding-inline: 10px;
}

header nav ul li button {
  /* background-color: grey; */
  border: 1px solid grey;
  width: 150px;
  height: 40px;
  /* color:black; */
  border-radius: 360px;
  text-align: left;
  cursor: text;
}

header .login button.signup {
  border-radius: 200px;
  color: white;
  border: none;
  background-color: #04aa6d;
  width: 100px;
  height: 30px;
  margin-right: 10px;
  cursor: text;
}

header .login button.signup:hover {
  background-color: green;
  color: white;
  transition: ease-in-out 0.1s;
}

header .login button.login {
  border-radius: 200px;
  color: black;
  border: none;
  background-color: #d9eee1;
  width: 100px;
  height: 30px;
  margin-right: 10px;
  padding-right: 15px;
  cursor: pointer;
  text-align: right;
}

header .login button.login:hover {
  background-color: green;
  color: white;
  transition: ease-in-out 0.1s;
}

header .login button.signup,
header .login button.login {
  height: 40px;
  margin-right: -40px; /* Adjust the negative margin to overlap */
  cursor: pointer;
  position: relative;
  font-size: 16px;
}

header .login button.signup {
  z-index: 1; /* Ensure signup button is on top */
}

main {
  background-image: url(assets/bg.gif);
  background-size: cover;
  height: 710px;
  width: 100%;
  position: relative;
}

main .mainKonten {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .mainKonten h1 {
  font-size: 70px;
  font-weight: 700;
  color: white;
  margin-bottom: 0px;
  padding-top: 40px;
  margin-top: 110px;
}

main .mainKonten h4 {
  font-size: 23px;
  color: #fff4a3;
  font-weight: 700;
  margin-top: 30px;
}

main .mainKonten a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
  color: white;
  margin-top: 30px;
}

main .mainKonten a:hover {
  color: #fff4a3;
}

main .mainKonten input {
  height: 50px;
  width: 500px;
  border-radius: 360px;
  text-align: left;
  padding-left: 25px;
  font-weight: bolder;
  font-size: medium;
  margin-top: 30px;
  border: none;
}

main .mainKonten img {
  position: absolute;
  right: 10%;
  top: 40%;
  transform: translate(-50%, -50%);
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

/* Media query to hide the image when the webpage is resized */
@media screen and (max-width: 1250px) {
  main .mainKonten img {
    display: none;
  }
}

.htmlk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.htmlk h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 0px;
  padding-top: 40px;
}

.htmlk h4 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 23px;
  font-weight: 700;
}

.htmlk button {
  width: 250px;
  height: 60px;
  border-radius: 360px;
  background-color: #282a35;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-bottom: 50px;
}

.htmlk button:hover {
  background-color: black;
}

.sql {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #96d4d4;
}

.sql h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: -10px;
}

.sql h4 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sql button {
  width: 250px;
  height: 60px;
  border-radius: 360px;
  background-color: #282a35;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-bottom: 50px;
}

.sql button:hover {
  background-color: black;
}

.main {
  background-color: #282a35;
}

.main .subKonten {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main .subKonten .card {
  margin: 30px;
  background-color: salmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 700px;
  border-radius: 8px;
  font-weight: bold;
}

.main .subKonten .card h1 {
  margin-bottom: 20px;
  font-size: 53px;
}

.main .subKonten .card p {
  margin-bottom: 40px;
  font-size: 21px;
}

.main .subKonten .card button {
  width: 250px;
  height: 60px;
  border-radius: 360px;
  background-color: #282a35;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-bottom: 50px;
}

.main .subKonten .card button:hover {
  background-color: black;
}

.main .subKonten .card:nth-child(1) {
  background-color: #ffc0c7;
}

.main .subKonten .card:nth-child(2) {
  background-color: #fff4a3;
}

.main .subKonten .card:nth-child(3) {
  background-color: #f3ecea;
}

.main .subKonten .card:nth-child(4) {
  background-color: #d9eee1;
}

.main .subKonten .card:nth-child(5) {
  background-color: #96d4d4;
}

.main .subKonten .card:nth-child(6) {
  background-color: #e7e9eb;
}

footer {
  background-image: url(assets/bg.gif);
  width: 100%;
  height: 767px;
  position: relative;
}

footer .mainFooter {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
  color: #fff4a3;
}

footer img {
  width: 100px;
}

footer .mainFooter h4 a {
  color: inherit;
  text-decoration: none;
}

footer .mainFooter h4 a:hover {
  text-decoration: underline;
}

footer .main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: white;
  margin-left: 100px;
}

footer .main .wrapper {
  margin-inline: 60px;
}

footer .wrapper p {
  font-size: 0.8rem;
}

footer .main .wrapper h1 {
  font-size: 20px;
}

footer .main .wrapper p:hover {
  color: #fff4a3;
}

footer .land {
  width: 400px;
  position: absolute;
  left: 60%;
  bottom: 0;
  /* transform: translate(-50%, -50%); */
}
